@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Courier New', 'Montserrat', sans-serif;
	background-color: black;
	color:white;
	margin:0;
}
a{
	color:white;
}



#leftHeader {
	float:left; 
	width:75%;
	/*background-color: gray;
	height: 80px;*/
}

#rightHeader {
	float:right; 
	width:23%;
	/*background-color: gray;
	height: 80px; */
}

#headerBar{
	
	background-color: #1F1F1F;
	margin: 0px;
	border: 0px;
	padding:0px;
	margin-bottom:50px;
	min-width:100%;
	margin-top: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#mainContent{
	width:80%;
	min-width:60%;
	float:left;
	
}
#twentySplit{
	width:10%;
	float:left;
}
#fiftySplit{
	width:50%;
	float:left;
	margin-top: 0px;
	margin-bottom: 20px;
}
.icon{
	width:64px;
	height:64px;
}

table{
	text-align: center;
	min-width:100%;
	width:100%;
	max-width:100%;
	overflow-wrap: break-word;
}

td{
	min-width:64px;
	max-width:64px;
	width:64px;
}

@media screen and (max-width: 1150px) {
	#twentySplit, #mainContent, #fiftySplit {
	  width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
  }

